* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--fontColor: #fff;
	--bgcolor: #333;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--bgcolor);
	color: var(--fontColor);
}

.new-task {
	display: none;
	backdrop-filter: blur(10px);
	position: relative;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	padding: 30px 60px;
	border-radius: 8px;
	background-color: rgb(255, 255, 255, 0.1);

	label {
		font-size: 32px;
		margin-bottom: 15px;
		width: 300px;
		text-align: center;
	}

	input {
		width: 100%;
		border-radius: 8px;
		height: 45px;
		padding: 15px;
		font-size: 32px;
		margin-bottom: 10px;
	}

	select {
		font-size: 28px;
		padding: 5px;
		border-radius: 8px;
	}

	.btns {
		width: 100%;
		display: flex;
		justify-content: space-around;
		margin-top: 30px;
	}

	button {
		padding: 15px;
		text-transform: uppercase;
		border-radius: 8px;
		font-size: 24px;
		width: 160px;
		cursor: pointer;
		transition: transform 0.3s, box-shadow 0.3s;

		&:hover {
			transform: scale(1.1);
			box-shadow: 5px 5px 1px rgb(0, 0, 0, 0.4);
		}
	}

	.save-btn {
		background-color: green;
	}

	.discard-btn {
		background-color: red;
	}
}

.active {
	display: flex;
}

.app-body {
	padding: 40px;
	border: 1px solid black;
	background-color: royalblue;
	border-radius: 8px;

	h1 {
		margin-bottom: 20px;
		color: gold;
	}

	hr {
		margin-bottom: 5px;
	}

	h2 {
		text-align: center;
	}

	.btns-body {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 10px;

		button {
			padding: 10px;
			border-radius: 8px;
			font-size: 24px;
			cursor: pointer;

			transition: transform 0.3s, box-shadow 0.3s;

			&:hover {
				transform: scale(1.1);
				box-shadow: 5px 5px 1px rgb(0, 0, 0, 0.4);
			}
		}

		.add-new-task {
			background-color: green;
		}

		.delete-all-tasks {
			background-color: red;
		}
	}
	.task-list {
		list-style-type: none;
		padding: 15px 0;
		width: 350px;
		text-align: center;
		.task {
			position: relative;
			margin: 10px;
			width: 100%;
			height: 40px;
			background-color: rgb(0, 0, 0, 0.4);
			display: flex;
			justify-content: space-between;
			padding: 0 10px;
			text-align: center;
			line-height: 40px;
			border-radius: 8px;

			button {
				
			
				padding: 2px;
				background: none;
				border: none;
				font-size: 16px;
				cursor: pointer;
				transition: transform 0.3s, box-shadow 0.3s;

				&:hover {
					transform: scale(1.3);
					
				}
			}
			.check-btn {
				i {
					color: greenyellow;
					text-shadow: 0px 0px 5px black;
				}
			}

			.trash-btn {
				i {
					color: red;
					text-shadow: 0px 0px 5px black;
				}
			}

			.clock-btn {
				i {
					color: gold;
					text-shadow: 0px 0px 5px black;
				}
			}

			.btn{
				margin: 0 6px;
			}
		}

		
	}
}

.done{
	
}